body {
    direction: rtl;
    background-color: #f6f6f6;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

* {
    box-sizing: border-box;
}

.cateogryPage {
    width: 100%;
    height: 100vh;
    overflow: scroll;

    .titles {
        width: 100%;
        position: relative;
        top: 7%;
        text-align: center;
    }

    .cateogryPage__categorys {
        position: relative;
        top: 6%;
        width: 80%;
        height: 65%;
        margin: auto;
        margin-top: 2%;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-column-gap: 3%;
        grid-row-gap: 3%;



        .cateogryPage__categorysBox:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .cateogryPage__categorysBox {
            background-color: rgb(241, 241, 241);
            width: 300px;
            height: 220px;
            border-radius: 5px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            img {
                width: 90%;
                height: 9rem;
                display: block;
                margin: 2% auto auto auto;
            }

            .cateogryPage__categorysBoxContainer {
                text-align: center;

                p {
                    margin: 0;
                    margin-top: 1%;
                    padding: 2% 0;
                    font-weight: 550;
                    font-size: 25px;
                }
            }
        }
    }

    .newPost {
        top: 10%;
        right: 3%;
        position: absolute;
        border: none;
        color: white;
        padding: 12px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        border-radius: 20px;

        transition: all 0.4s ease-in;
        cursor: pointer;
        background-color: #008CBA;
        color: white;
        border: 1px solid white;
    }

    .newPost:hover {
        font-weight: 550;
        background-color: white;
        color: black;
    }
    .newPost:focus{
        outline: 0;
    }
}



.category__admin {
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 10%;
    height: 5rem;
    border: 3px dotted darkblue;

    button {
        border-radius: 4px;
    }

    // if admin: display this
    .category__adminAddCategory {
        display: block;
    }

    .category__adminAddCategoryForm {
        display: none;
        position: absolute;
        top: -5px;
        left: -5px;
        background-color: lightgray;
        border: 1px solid darkgray;
        border-radius: 5px;
        width: 240px;
        height: 100px;
        padding: 5px;
        z-index: 6;
    }
}

.category__edit {
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    border: 1px solid darkgray;
    background-color: lightgray;
    border-radius: 5px;
    width: 25%;
    height: 10rem;
    z-index: 6;
    padding: 10px;

    img {
        width: 35%;
        height: 5rem;
        float: left;
    }
}


@media only screen and (max-width: 1100px) {
    .cateogryPage {
        .newPost {
            right: -0.1%;
            padding: 8px 16px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}