body {
    direction: rtl;
    background-color: #e2e1e1;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.cateogryPage {
    position: relative;
    width: 100%;
    height: 100vh;

    .cateogryPage__header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 6%;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        z-index: 5;
        border-bottom: 2px solid rgb(87, 182, 214);

        .cateogryPage__headerHelloUser {
            align-self: center;
            padding: 3%;
        }

        .cateogryPage__headerForm {

            width: 35%;
            margin: auto;
            height: 100%;
            display: flex;
            justify-content: center;

            .cateogryPage__headerFormInput {
                min-width: 50%;
                max-width: 100%;
                height: 42%;
                align-self: center;
                outline: none;
            }

            .cateogryPage__headerFormSubmit {
                width: 8%;
                height: 42%;
                align-self: center;

            }
        }

        .cateogryPage__headerUserInfo {
            padding-left: 2%;
            align-self: center;
            width: 8%;
            height: 45%;

            .cateogryPage__headerUserInfoShow {
                width: 100%;
                height: 100%;
                background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png");
                background-repeat: no-repeat;
                background-size: contain;


            }

            .cateogryPage__headerUserInfoDrop {
                display: flex;
                opacity: 0;
                height: 0;
                overflow: hidden;
                flex-direction: column;
                justify-content: space-around;
                padding: 10px;
                background-color: rgb(137, 202, 224);
                background: linear-gradient(to bottom, lightblue, rgb(129, 197, 219));
                border-radius: 5px;
                box-shadow: 1px 3px #888888;

            }
        }

    }

    h1 {
        position: relative;
        top: 6%;
        text-align: center;
    }

    .cateogryPage__categorys {
        position: relative;
        top: 6%;
        width: 55%;
        height: 65%;
        margin: auto;
        margin-top: 2%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 13%;
        grid-row-gap: 7%;

        .cateogryPage__categorysBox:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .cateogryPage__categorysBox {
            width: 100%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            img {
                width: 98%;
                display: block;
                margin: auto;
            }

            .cateogryPage__categorysBoxContainer {
                text-align: center;

                p {
                    margin-top: 1em;
                    margin-bottom: 1em;
                    font-weight: 550;
                    font-size: 25px;
                }
            }
        }
    }
}



.category__admin {

    // if admin: display this
    .category__adminAddCategory {
        display: none;
    }

    .category__adminAddCategoryForm {
        display: none;
    }
}