@mixin mq($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

$post-bg-color: blue;
$body-bg-color: #ededef;
$categoryHeder-bg-color: white;
$postheder-bg-color: #cfd8dd;
$addButton-bg-color: #2097f5;
$addButton-color: white;
$postheder-bg-color: #cfd8dd;

body {
    direction: rtl;

    //background-color: #e2e1e1;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $body-bg-color;
    width: 99vw;
    height: 99vh;
   

    #app {
        width: 100%;
        height: 100%;
        background-color: $body-bg-color;
        position: relative;
        top: 5%;
        /*  @include mq(260px) {
            width: 100%;
        }
        @include mq(480px) {
            width: 100%;
        }
        @include mq(768px) {
            width: 80%;
        }
        @include mq(1000px) {
            width: 70%;
            margin:auto;
        }
 */

        .comments-post {
            border-radius: 0 0 10px 10px;
            box-shadow: 1px 1px 1px rgba(134, 134, 139, 0.699);
            background-color: white;
            margin: 1%;
            position: fixed;
            width: 98%;
            z-index: 1;
            #postheder {
                display: flex;
                justify-content: space-between;
                background-color: $postheder-bg-color;

                padding: 2% 5% 1% 2%;
                .posttitle {
                    width: 80%;
                }
                .postbudy {
                    margin-right: 1%;
                    width: 90%;
                    @include mq(260px) {
                        font-size: 0.7rem;
                    }
                    @include mq(480px) {
                        font-size: 1rem;
                    }
                    @include mq(768px) {
                        font-size: 1.1rem;
                    }
                    @include mq(1000px) {
                        font-size: 1.3rem;
                    }
                }
                #hederImg {
                    margin-left: 3%;
                    max-width: 30%;
                  //  height: 100%;
                 
                    box-shadow: 1px 1px 5px 2px;
                    @include mq(260px) {
                        margin: 10% 1% 10% 1%;
                    }
                    @include mq(360px) {
                        margin: 7% 1% 7% 1%;
                    }
                    @include mq(480px) {
                        margin: 5% 1% 5% 1%;
                    }
                    @include mq(768px) {
                        margin: 2% 1% 2% 1%;
                    }
                    @include mq(1000px) {
                        margin: 1% 1% 1% 1%;
                    }
                }
            }
            .futter {
                display: flex;
                margin: 0 auto 1% auto;
                margin-top: 1%;
                background-color: white;
                max-width: 50%;
                justify-content: space-evenly;
                @include mq(260px) {
                    max-width: 90%;
                }
                @include mq(480px) {
                    max-width: 90%;
                }
                @include mq(768px) {
                    max-width: 80%;
                }
                @include mq(1000px) {
                    max-width: 70%;
                }
                div {
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    margin-left: 6%;
                    margin-right: 6%;
                    &:active {
                        color: $addButton-bg-color;
                    }
                    p {
                        margin-top: 2%;
                    }
                }
            }
        }
        .commenstsSection {
            // height: 900px;
            // background-color: blueviolet;
            width: 98%;
            margin: auto;
            position: relative;
          //  top: 40%;
            @include mq(260px) {
                top: 46%;
                font-size: 0.7rem;
            }
            @include mq(480px) {
                top: 50%;
                font-size: 0.8rem;
            }
            @include mq(768px) {
                top: 50%;
                font-size: 0.9rem;
            }
            @include mq(1000px) {
                top: 40%;
                font-size: 1rem;
            }
            @include mq(2000px) {
                top:90%;
                font-size: 1rem;
            }

            .comment {
                border: 1px solid black;
                margin-top: 1%;
                background-color: rgb(241, 241, 241);
                height: 80px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                &:nth-child(even) {
                    background-color: #cfcece;
                }
                p {
                    width: 80%;
                }
            }
        }
    }
}

.material-icons {
    display: flex;
    justify-content: center;
}

.active {
    cursor: pointer;
    &:active {
        color: $addButton-bg-color;
    }
}