@use 'general';@mixin mq($size) {
    @media only screen and (min-width: $size) {
      @content;
    }
  }

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.5%;
    background-color:#2795F4;
    display: flex;
    justify-content: space-around;
    z-index: 5;
    border-bottom: 2px solid #0a64b3;

    .header__helloUser {
        align-self: center;
        width: 33%;
        margin-right: 5%;

        @include mq(260px) {
           font-size: xx-small;
        }
        @include mq(479px) {
            font-size: x-small;
        }
         @include mq(768px) {
            font-size: large;
        }
         @include mq(1200px) {
            font-size: large;
        }
    }
    
    .header__form {
        width: 33%;
        height: 100%;
        display: flex;
        justify-content: center;

        .header__formInput {
            width: 90%;
            height: 50%;
            align-self: center;
            outline: none;
            border: 0;
            font-size: 20px;
        }

        .header__formSubmit {
            width: 10%;
            height: 50%;
            align-self: center;
            border: 0;
           /*  @include mq(260px) {
                font-size: xx-small;
             }
             @include mq(479px) {
                 font-size: x-small;
             }
              @include mq(768px) {
                 font-size: large;
             }
              @include mq(1200px) {
                 font-size: large;
             } */
     
        }
        .header__formSubmit:focus {
            outline: 1px solid black;
        }
    }

    .header__userInfo {
        align-self: center;
        width: 33%;
        height: 45%;
        margin-left: 5%;

        .header__userInfoShow {
            width: 100%;
            height: 100%;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png");
            background-repeat: no-repeat;
            background-size: contain;
        }

        .header__userInfoDrop {
            display: none;
            flex-direction: column;
            justify-content: space-around;
            padding: 15px;
            min-width: 50%;
            float: left;
            background-color:#2795F4;
            border-right: 2px solid rgb(87, 182, 214);
            border-left: 2px solid rgb(87, 182, 214);
            border-radius: 5px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            font-size: 35px;
            box-shadow: 2px 5px 3px -3px #888888;
            margin-top: 3%;

            button{
                font-size: 15px;
                margin: 2px;
            }

        }
    }

}