body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/loft.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
  
  
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
  }
  
  .input::placeholder {
    text-align: right;
  }
  .formsContainer {
    background-color: rgba(77, 77, 77, 0.4);
    padding: 10px;
    width: 35vw;
  }
  .tab--form {
    background-color: #fff;
    display: none;
    padding: 70px 150px 50px;
    height: 470px;
  }
  
  .tab--form.active {
    display: block;
  }
  
  .tab--form a {
    text-decoration: none;
    transition: 0.3s;
    color: #298cad;
  }
  /* .tab--form a:hover{
      color: #36d2ff;
  } */
  .tab--form ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .tab--form input {
    display: block;
    width: 100%;
  }
  
  label.tab {
    color: #ffffff;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
    cursor: pointer;
  }
  
  label.tab.active {
    background-color: #fff;
    color: #1d5f75;
  }
  
  input[name="tabs"]:checked + label {
    background-color: #fff;
    color: #1d5f75;
  }
  input[name="tabs"] {
    display: none;
  }
  
  .tab::before {
    content: "\f090";
    font-family: "FontAwesome", sans-serif;
    font-size: 24px;
    margin-right: 11px;
    font-weight: normal;
  }
  .tab[for*="2"]::before {
    content: "\f234";
  }
  
  .del {
    display: none;
  }
  .input {
    font-size: 16px;
    border: 2px solid #e9eaea;
    border-radius: 5px;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 22px;
    color: #1e8da6;
    outline: none;
    direction: rtl;
  }
  .input:hover {
    border: 2px solid #bebebe;
    transition: 0.3;
  }
  
  ::-webkit-input-placeholder {
    color: #c4c9c9;
  }
  
  button.button {
    background: #298cad;
    color: #ffffff;
    font-size: 18px;
    display: block;
    margin: auto;
    line-height: 46px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    outline: none;
  }
  
  button.button:hover {
    transition: 0.3s;
    background-color: #0c6886;
  }
  
  .social {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
  }
  .social a {
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
  }
  
  .social + a {
    margin-top: 10px;
    display: block;
    font-size: 16px;
    text-align: center;
  }
  
  @media only screen and (max-width: 1400px) {
    .formsContainer {
      width: 60vw;
    }
    .tab--form {
      padding: 70px 100px 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .formsContainer {
      width: 70vw;
    }
    .tab--form {
      padding: 70px 70px 50px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .formsContainer {
      width: 80vw;
    }
    .tab {
      font-size: 80%;
    }
    .tab::before {
      font-size: 100%;
    }
    .tab--form {
      padding: 30px 50px 50px;
    }
  }
  
  @media only screen and (max-width: 280px) {
    .formsContainer {
      width: 80vw;
    }
    .tab {
      font-size: 68%;
    }
    .tab::before {
      font-size: 100%;
    }
    .tab--form {
      padding: 30px 30px 30px;
    }
  }

}
  