body {
    direction: rtl;
    background-color: #f6f6f6;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

* {
    box-sizing: border-box;
}

.adminPage {
    width: 100%;
    height: 100vh;
    overflow: scroll;

    .allUsers {
        font-size: 15px;
        position: relative;
        top: 10%;
        width: 100%;
        height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1%;

        .user {

            display: flex;
            flex-direction: column;
            // overflow: scroll;
            font-size: 20px;

            padding: 10px;
            border: 1px solid black;
        }
    }

    #pagesBox {
        position: absolute;
        left: 5%;
        bottom: 10%;
        width: 25%;
        margin-left: 5%;
        padding: 10px;
        font-size: 21px;
        background-color: white;
        border-radius: 10px;
        border: 3px solid darkgray;

        .title {
            font-weight: 550;
            font-size: 25px;
        }

        #pages {

            float: left;
            .page {
                border: 1px solid black;
                border-radius: 5px;
                cursor: pointer;
                margin: 2px;
                padding: 2px;
            }

            .page:hover {
                background-color: black;
                color: white;
            }
        }
    }

    .editUserForm {
        background-color: white;
        position: absolute;
        top: 20%;
        left: 37%;
        width: 25%;
        display: none;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;
        background-color: rgb(224, 222, 222);
        border: 1px solid mediumseagreen;

        .editUserFormm {
            width: 100%;
            z-index: 5;

            input {

                width: 80%;
            }

            #role {
                width: 50%;
            }
            .submitButton{
                border: 1px solid white;
                color: white;
                background-color: #247c99;
                border-radius: 5px;
                padding: 3px;
            }
        }
    }
}