body {
    margin: 0;
    direction: rtl;
    text-align: center;

    h1,
    h2,
    h3,
    h4,
    p,
    label {
        color: #247c99;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    label,
    button,
    input {
        font-family: "Rubik", sans-serif;
    }

    button {
        cursor: pointer;
        border: 1px solid white;
        color: white;
        background-color: #247c99;
        border-radius: 5px;
    }

    .cateogryPage {
        width: 100%;
        height: 100vh;
    }

    .titles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        position: relative;
        top: 5%;

        .newPostButton {
            margin: auto;
            height: 50px;
            background-color: white;
            color: #247c99;
            border: 1px solid #247c99;
            border-radius: 5px;
        }

        .newPostButton:hover {
            background-color: #247c99;
            color: white;
            animation: heartbeat 1.5s ease-in-out infinite both;
        }

        @media only screen and (max-width: 600px) {
            .title {
                grid-row: 1;
                grid-column: 2;
            }

            .newPostButton {
                grid-row: 1;
                grid-column: 1;
            }
        }

        @keyframes heartbeat {
            from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }

            10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }

            33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }

            45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }

        .category__admin {
            display: none;
            border: 1px solid #247c99;
            margin: auto;
            width: 200px;
            padding: 5px;
            border-radius: 5px;
            margin-top: 15px;
        }

        .category__adminAddCategoryForm {
            margin: auto;
            margin-top: 15px;
            display: none;

            div {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .cateogryPage__categorys {
        position: relative;
        top: 10%;
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

        .cateogryPage__categorysBoxContainer {
            cursor: pointer;
            img {
                /* width: 300px;
                    height: 130px; */
                width: 80%;
                height: 250px;
                border-radius: 10px;
                box-shadow: 3px 3px 3px black;

            }

            img:hover {
                animation: heartbeat 1.5s ease-in-out infinite both;
            }
        }
    }

    @media only screen and (max-width: 1500px) {
        .cateogryPage__categorys {
            width: 100%;
        }
    }

    @media only screen and (max-width: 600px) {
        .category__admin {
            max-width: 80px;
        }

        .cateogryPage__categorys {
            display: grid;
            grid-template-columns: 1fr;

        }
    }
}