.header {
    display: grid;
    grid-template-columns: repeat(12, auto);
    background-color: #247c99;
    position: sticky;

    h1{
        margin-top:5px;
        margin-bottom:5px;
        margin-left: 50px;

    }

    .header__helloUser {
        margin: auto;
        color: white;
    }

    @media only screen and (max-width: 950px) {
        .header__helloUser {
            font-size: 12px;
        }
    }

    .header__form {
        margin: auto;
        grid-column: 4/10;
        width: 100%;
        .header__formInput {
            width: 50%;
            height: 25px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid #247c99;
        }

        .header__formSubmit {
            width: 50px;
            height: 25px;
        }

        .header__formSubmit:hover {
            background-color: white;
            color: #247c99;
        }

        @media only screen and (max-width: 950px) {
            .header__formInput {
                width: 80px;
            }
            .header__formSubmit {
                width: 30px;
            }
        }
    }

    .header__userInfo {
        justify-self: end;
        grid-column: 11;
    }

    .header__userInfo:hover {
        animation: heartbeat 1.5s ease-in-out infinite both;
    }

    @keyframes heartbeat {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        10% {
            -webkit-transform: scale(0.91);
            transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        17% {
            -webkit-transform: scale(0.98);
            transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        33% {
            -webkit-transform: scale(0.87);
            transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        45% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
    }

    .goBack {
        border: 1px solid white;
        cursor: pointer;
        color: white;
        height: 30px;
        border-radius: 5px;
        margin: auto;
        width: 50px;
        transition: 0.5s;
        background-image: linear-gradient(to right, #247c99 0%, #247e9b 51%, #20708a 100%);
        grid-column: 12;
        .icon {
            align-self: center;
            font-size: 30px;
        }
    }
    .goBack:hover {
        background-position: right center; /* change the direction of the change here */
        animation: jello-horizontal 0.9s both;
    }
}

.menuItem {
    margin: auto;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #247c99;

    a {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        color: #247c99;
        outline: 0;
        padding: 6px 12px;
        border: 2px solid white;
        background-color: white;
        border-radius: 5px;
        margin: 2px;
        cursor: pointer;
    }
    a:hover,
    a:active,
    button:hover,
    button:active {
        background-color: #247c99;
        color: white;
    }
}

.header__adminPage {
    display: none;
}
