@use 'general';

@mixin mq($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

* {
    box-sizing: border-box;

}

.header {

    position: fixed;
    top: 0;
    right: 0;
    // overflow: hidden;
    width: 100%;
    height: 6.5%;
    background-color: #247C99;
    display: grid;
    grid-template-columns: 0.4fr 0.15fr 1fr 0.2fr  0.15fr;
    justify-content: space-around;
    z-index: 5;


    input::-webkit-input-placeholder {
        font-size: 15px;
        padding-right: 5px;
        color: rgb(179, 179, 179);
    }

    .header__helloUser {
        align-self: center;
        text-align: right;
        width: 33%;
        margin-right: 25%;
        color: white;
        font-weight: bold;

        @include mq(260px) {
            font-size: x-small;
        }

        @include mq(479px) {
            font-size: x-small;
        }

        @include mq(768px) {
            font-size: medium;
        }

        @include mq(1200px) {
            font-size: medium;
        }
    }

    .header__adminPage {
        display: none;
        //position: absolute;
        right: 18%;
        width: 70px;
        height: 20px;
        text-decoration: none;
        text-align: center;
        color: black;
        align-self: center;
        background-color: white;
        border-radius: 5px;
        font-size: 13px;
    }

    .header__adminPage:hover {
        color: white;
        background-color: rgb(107, 107, 107);
    }

    .header__form {
        margin: auto;
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: center;



        .header__formInput {
            width: 90%;
            height: 30px;
            align-self: center;
            text-align: center;
            outline: none;
            border: 0;
            font-size: 16px;
            border-radius: 5px;
            color: #1e8da6;
        }

        .header__formSubmit {
            width: 10%;
            height: 30px;
            align-self: center;
            display: flex;
            justify-content: center;
            border: 0;
            margin-right: 5px;
            padding: 6px 10px;
            background: #247C99;
            font-size: 22px;
            border: none;
            cursor: pointer;
            border-radius: 5px;


            i {

                align-self: center;
            }
        }

        .header__formSubmit:hover {
            background: white;
        }

        .header__formSubmit:focus {
            outline: 1px solid black;
        }
    }

    .goBack {
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-self: center;
        text-align: center;
        cursor: pointer;
        color: white;
        border-radius: 10rem;
        margin: auto 0;
        height: 35px;
        margin-left: 30%;
        transition: 0.5s;
        background-size: 200% auto;
        background-image: linear-gradient(to right, #247C99 0%, #247e9b 51%, #20708a 100%);

        .icon{
            align-self: center;
            font-size: 45px;
        }
    }
    .goBack:hover{
            background-position: right center; /* change the direction of the change here */
        
    }


    .header__userInfo {
        align-self: center;
        width: 25%;
        height: 83%;
        margin-right: 25%;
        display: flex;
        justify-content: center;
        // margin: auto;
        h1 {
            align-self: center;
            margin-left: 15%;
            width: 35px;
            height: 35px;
            border-radius: 5px;
            margin: 0;
            color: white;
        }

        h1:hover {
            animation: jello-horizontal 0.9s both;
        }

        @keyframes jello-horizontal {
            0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }

            30% {
                -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
            }

            40% {
                -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
            }

            50% {
                -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
            }

            65% {
                -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
            }

            75% {
                -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
            }

            100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }

        .header__userInfoDrop {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 95%;
            justify-content: space-around;
            padding: 15px;
            min-width: 13%;
            background-color: #247C99;
            border-radius: 5px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            font-size: 35px;
            box-shadow: 0px 8px 16px 0px -2px rgba(0, 0, 0, 0.2);


            a,
            button {
                text-align: center;
                text-decoration: none;
                display: inline-block;
                color: black;
                font-size: 15px;
                font-weight: 550;
                outline: 0;
                padding: 6px 12px;
                border: 2px solid white;
                background-color: white;
                border-radius: 5px;
                margin: 2px;
                cursor: pointer;
            }

            a:hover,
            a:active,
            button:hover,
            button:active {
                background-color: #247C99;
                color: white;
            }

        }
    }
}


// @media only screen and (max-width: 1000px) {
//     .header {
//         .header__userInfo {
//             img {
//                 // width: 10%;
//             }

//             .header__userInfoDrop {
//                 margin-top: 12%;
//                 margin-left: -10%;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 650px) {
//     .header {
//         .header__userInfo {
//             img {
//                 // width: 15%;
//             }

//             .header__userInfoDrop {
//                 margin-top: 12%;
//                 margin-left: -25%;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 560px) {
//     .header {
//         .header__userInfo {
//             .header__userInfoDrop {
//                 margin-top: 8%;
//                 margin-left: -18%;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 415px) {
//     .header {
//         .header__userInfo {
//             img {
//                 // width: 20%;
//             }
//         }
//     }
// }

// @media only screen and (max-width: 350px) {
//     .header {
//         .header__userInfo {
//             img {
//                 // width: 25%;
//             }
//         }
//     }
// }